*, *:after, *:before {
  box-sizing: border-box;
}

img {
  display: block;
}

button {
  background-color: #4e67b7;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#doll {
  display: inline-block;
  position: relative;
  width: auto;
}

#head,
#torso,
#legs {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 0;
}

#head {
  height: 25%;
  top: 0;
}

#torso {
  height: 50%;
  top: 25%;
  z-index: 1;
}

/* #scarf {
  z-index: 2;
} */

#legs {
  height: 50%;
  top: 50%;
}
